body{
    margin:0px;
    /* height: 100vh;
    width: 100vw; */
    box-sizing: border-box;
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-columns: 1fr;
    /* background-size: cover; */
    padding :10px 20px 10px 20px;
    width: fit-content;
    height: fit-content;
    background :linear-gradient(to right bottom,skyblue, blue,blueviolet,purple) no-repeat;
    
}

.container{
    background-color: white;
    width: fit-content;
    height: fit-content;
    /* width :90vw; */
    /* height:95vh; */
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    gap:5px;
    border-radius: 25px;
    grid-auto-flow: column;
     grid-template-areas:"sidebar header header" 
                        "sidebar content announcement" 
                        "sidebar content trending";
    justify-items:space-around;
}
.search_bar{
    background-color: transparent;
    grid-area : header;
    border-top-right-radius:25px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns:1fr;
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px 50px;
    flex-wrap: wrap;
}
.searchArea{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_icon{
    flex:1;
    border:1px solid rgb(183, 199, 215);
    border-radius: 23px;
    height: 22px;
    color: black;
    font-weight: bold;
}

#searchbar_icon{
    width: 25px;
    height: 25px;
}
.profileArea{
    display: flex;
    align-items: center;
    gap:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.three-buttons{
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.nav-btn{
    color : white;
    background: rgb(67, 67, 162);
    border : 1px solid white;
    width: 80px;
    height: 30px;
    border-radius:25px;
}
.nav-btn:hover{
    border : 1px solid rgb(67, 67, 162);
    color: rgb(67, 67, 162);
    background-color: white;
}

.sidebar{
    background: rgb(1, 231, 252);
    grid-area: sidebar;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    color : rgb(0, 0, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap:25px;
    padding : 10px;
}
.selected{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right :10px;
    padding-top :10px;
    width:115px;
    height: 35px;
    position: relative;
    left : -51px;
    padding-left : -100px;
    font-weight: bold;
    text-align: end;
    background: white;
}
.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-links{
    align-self: flex-start;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:20px;
}

a:hover{
    color: rgb(2, 88, 96);
}
.content{
    grid-area : content;
    background: #f4f9ff;
    border-radius: 25px;
    padding : 0px 5px;
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(165px,1fr));
    gap:15px;
}
.project-heading{
    
}
.project{
    width: 150px;
    height: 175 px;
    border:1px dotted black;
    border-radius: 10px;
    padding :5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 5px #000;
}
.heading{
    font-size:18px;
}
.announcement{
    grid-area:announcement;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
    background: rgb(238, 255, 254);
}
.heading-A{
    text-align: center;
}
.ul{
    list-style-type: disc;
}
.trending{
    background: rgb(205, 252, 227);
    grid-area:trending;
    border-top-left-radius: 15px ;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:15px;
}
#notification_icon{
    width: 50px;
    height: 50px;
}
#notification_icon:hover{
    animation: ring 2s ease;
}
@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}
